<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
<body class="container">

<h2>登录窗口</h2>
<br>

<form th:action="@{/login}" method="post" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-2 control-label">username:</label>
        <div class="col-sm-5">
            <input type="text" id="username" name="username">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">password:</label>
        <div class="col-sm-5">
            <input type="password" id="password" name="password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="提交">
        </div>
    </div>
</form>

</body>
</html>