<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 align="center">欢迎来到springboot实战项目</h1>
<hr>

<div>
    <h3>初级工程师</h3>
    <ul>
        <li><a th:href="@{/level1/1}">搬砖</a></li>
    </ul>
</div>

<div>
    <h3>高级工程师</h3>
    <ul>
        <li><a th:href="@{/level2/1}">搬砖</a></li>
    </ul>
</div>


<div>
    <h3>架构师</h3>
    <ul>
        <li><a th:href="@{/level3/1}">PPT</a></li>
    </ul>
</div>

</body>
</html>